<div>
<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div class="btn-group">
 <%= link_to "Back to movies", movies_path(sort: session[:sort], direction: session[:direction]), class: 'btn-show' %>
 <%= button_to "Destroy this movie", @movie, method: :delete, class: 'btn-delete' %>
</div>
</div>

