/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#movies {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#movies td, #movies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#movies tr:nth-child(even){background-color: #f2f2f2;}

#movies tr:hover {background-color: #ddd;}

#movies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #077999;
  color: black;
}

.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  background-color: #077999;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn-form{
    display: inline-block;
    padding: 5px 10px;
    background-color: #077999;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.btn-group {
    display: flex;             
    gap: 10px;                 
    justify-content: center;   
}

.btn-show {
    background-color: #009933; 
    color: white;
    border: none; 
    padding: 5px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .btn-show:hover {
    background-color: #016221;
  }
  
  /* Custom styles for Delete button */
  .btn-delete {
    background-color: #e60000; 
    color: white; 
    border: none;
    padding: 5px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .btn-delete:hover {
    background-color: #aa0101; 
  }

  .btn-edit {
    background-color: #0d7cd7; 
    color: white; 
    border: none;
    padding: 5px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .btn-edit:hover {
    background-color: #0a5c9e; 
  }

.btn-custom:hover {
  background-color: #076a86;
}



html {
    /* height: 100%; */
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

body {
    width: 60%;               
    max-width: 1200px;         
    background-color: #f4f4f4; 
    padding: 30px;             
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.index-page {
    width: 60%;               
}

/* Styles for show page */
.show-page {
    width: 30%;               
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #f4f4f4;
}

.default-page{
    width: 25%;               /* Adjust width for show page */
    
    justify-content: center; 
    align-items: center;     
    background-color: #f4f4f4;
}


.page-container {
  padding-left: 20%;       
}



th a {
    text-decoration: none;
    color: inherit;
    /* margin-left: 80%; */
    font-size: 20px;
  }
  
  /* Styling for the sorting arrows in the links */
  th a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
  }
  
  th a:hover {
    color: #333;
  }
  
  .highlight-column-asc {
    background-color: #b2e6f54a !important; 
  }
  
  .highlight-column-desc {
    background-color: #ffd3d365 !important; 
  }